@mixin flex($direction, $justify, $wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin margin($mt, $mb, $ml, $mr){
    margin-top: $mt;
    margin-bottom: $mb;
    margin-left: $ml;
    margin-right: $mr; 
}

@mixin padding($pt, $pb, $pl, $pr){
    padding-top: $pt;
    padding-bottom: $pb;
    padding-left: $pl;
    padding-right: $pr;
}

@mixin btn(){
    text-decoration: none;
    color: white;
}

@mixin size($w, $h){
    width: $w;
    height: $h;
}

@mixin font($f, $s, $w: normal){
    font-family: $f;
    font-size: $s;
    font-weight: $w;
}