* {
  margin: 0;
  padding: 0;
}

header, .navegar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em;
}

header {
  background-color: #000000;
}

.navegar {
  gap: 3em;
  font-size: 20px;
  flex-wrap: wrap;
  margin-right: 1em;
}

.navegar a {
  text-decoration-line: none;
  color: #ffffff;
}

body {
  /* fallback for old browsers */
  background-color: #EDECE1 !important;
}

.carrossel img {
  width: 100%;
  height: 35em;
  -o-object-fit: cover;
     object-fit: cover;
}

.home_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  margin-left: 1rem;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.btn-cta {
  width: 25rem;
  height: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.cta_info {
  font-size: 1.5rem;
}

.link-cta {
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
}

.marg {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.link_login {
  width: 10rem;
  height: 3rem;
}

.link_login {
  text-decoration: none;
  color: white;
}

.login_btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.google_icon {
  width: 2rem;
  height: 2rem;
}

.container_404 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.icone_404 {
  width: 6rem;
  height: 6rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.text_404 {
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.apresentacao {
  display: flex;
  justify-content: center;
  margin: 0.3em;
  font-family: "Bebas Neue", sans-serif;
  font-size: 5rem;
}

.integrantes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.integrante {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0.5rem;
  background-color: #2CA5BD;
  box-shadow: 0.2em 0.2em 0.2em #000;
}

.photo img {
  width: 15em;
  height: 15em;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Public Sans", sans-serif;
}

.icon {
  display: flex;
  flex-flow: row, wrap;
  justify-content: flex-end;
}

.icon :hover {
  color: #ffffff;
  transition: 0.2s;
}

.nome {
  font-size: 2.5rem;
  font-weight: bold;
}

.empresa {
  font-size: 2.5rem;
}

.esqueceusenha {
  font-family: "Bebas Neue", sans-serif;
}

.esqueceusenha .titulo {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.alerta-esqueceu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.continue {
  width: 100%;
  height: 3rem;
}

.btn_cadastro {
  width: 20rem;
  height: 3rem;
}

footer {
  background-color: #EAD7A7;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
}/*# sourceMappingURL=estilizacao.css.map */