@use 'mixins';
@import 'variaveis';

*{
    margin: 0;
    padding: 0;
}


header, .navegar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em;
}

header {
    background-color: $black;
    width: 100%;
}

.navegar {
    gap: 3em;
    font-size: 20px;
    flex-wrap: wrap;
    margin-right: 1em;
    min-width: 273px;
}

.navegar a {
    text-decoration-line: none;
    color: $white;
}

body {
    /* fallback for old browsers */
    background-color: #EDECE1 !important;
}

.marg {
    margin-top: 5rem;
}

.link_login{
    @include mixins.size(10rem, 3rem);
}

.link_login{
    @include mixins.btn()
}

.container_404{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
    
.icone_404{
    @include mixins.size(6rem, 6rem);
    margin-right: 10px;
}

.text_404 {
    font-size: 5rem;
}

.apresentacao {
    display: flex;
    justify-content: center;
    margin: 0.3em;
}

.Photo img {
    width: 15em;
    height: 15em;
}

.informacoes {
    display: flex;
    background-color: #2CA5BD;
    justify-content: center;
    box-shadow: 0.2em 0.2em 0.2em #000;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3em;
}

.integrantes {
    display: flex;
    justify-content: space-evenly;
    // background-color: #2CA5BD;
}

@media screen and (max-width: 641px) {
    .navegar, header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
}



