@use 'mixins';
@import 'variaveis';

*{
    margin: 0;
    padding: 0;
}


header, .navegar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em;
}

header {
    background-color: $black;
    width: 100%;
}

.navegar {
    gap: 3em;
    font-size: 20px;
    flex-wrap: wrap;
    margin-right: 1em;
    min-width: 273px;
}

.navegar a {
    text-decoration-line: none;
    color: $white;
}

body {
    /* fallback for old browsers */
    background-color: $branco !important;
}

.carrossel img{
    @include mixins.size(100%, 35em);
    object-fit: cover;
}

.home_info{
    @include mixins.flex(row, center, wrap);
    @include mixins.margin(1rem, 2em, 1rem, 1rem);
    @include mixins.font($public, 1.5rem, $bold);
}

.cta{
    @include mixins.flex(row, space-between, wrap);
    align-items: center;
    @include mixins.margin(1rem, 5rem, 1rem, 0);
    
}

.btn-cta{
    @include mixins.size(25rem, 3rem);
    @include mixins.margin(0, 0, 0, 5rem);
    @include mixins.flex(row, center, wrap);
    
}

.cta_info{
    font-size: 1.5rem
}

.link-cta{
    @include mixins.btn();
    @include mixins.font($bebas, 1.5rem)
}

.marg {
    @include mixins.margin(5rem, 5rem, 0, 0);
}

.link_login{
    @include mixins.size(10rem, 3rem);
}

.link_login{
    @include mixins.btn()
}

.login_btns{
    @include mixins.flex(row, center, wrap);
    @include mixins.margin(1rem, 0, 1rem, 0)
}

.google_icon {
    @include mixins.size(2rem, 2rem);

}

.container_404{
    @include mixins.flex(row, center, wrap);
    align-items: center;
    align-content: center;
}
    
.icone_404{
    @include mixins.size(6rem, 6rem);
    @include mixins.margin(0.5rem, 0.5rem, 0.5rem, 0.5rem);
}

.text_404 {
    font-size: 3rem;
    @include mixins.margin(0.5rem, 0.5rem, 0.5rem, 0.5rem);
}

.apresentacao {
    display: flex;
    justify-content: center;
    @include mixins.margin(0.1em, 0.1em, 0.1em, 0.1em);
    @include mixins.font($bebas, 5rem);
}

.integrantes{
    @include mixins.flex(row, space-evenly, wrap);
}

.integrante{
    @include mixins.flex(row, center, wrap);
    @include mixins.margin(3rem, 3rem, 3rem, 3rem);
    @include mixins.padding(0, 0, 0, 0.5rem);
    background-color: #2CA5BD;
    justify-content: center;
    box-shadow: 0.2em 0.2em 0.2em $black;
    box-shadow: 0.2em 0.2em 0.2em $black;
}

.photo img{
    @include mixins.size(15em, 15em);
    object-fit: cover;
}

.info {
    @include mixins.flex(column, space-between, wrap);
    font-family: "Public Sans", sans-serif;
}

.icon{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 641px) {
    .navegar, header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
}


.icon :hover{
    color: $white;
    transition: 0.2s;
}

.nome{
    font-size: 2.5rem;
    font-weight: bold;
}

.empresa{
    font-size: 2.5rem;
}

.esqueceusenha{
    font-family: "Bebas Neue", sans-serif;
}

.esqueceusenha .titulo{
    font-weight: bold;
    @include mixins.margin(1rem, 0, 1rem, 1rem)
}

.alerta-esqueceu{
    @include mixins.flex(row, center, wrap);
    @include mixins.size(100%, 2rem);
    margin-bottom: 1rem
}

.continue{
    @include mixins.size(100%, 3rem);
}

.btn_cadastro{
    @include mixins.size(20rem, 3rem);
} 

footer{
    background-color: $creme;
    position: fixed;
    bottom: 0;
    width: 100%;
    @include mixins.flex(row, center, wrap);
    margin-top: 5rem;
    @include mixins.font($public, 1.1em, $bold);
}


.paineis {
    display: flex;
    justify-content: space-around;
}

.paineis2 {
    display: flex;
    justify-content: space-around;
}

.painel-1, .painel-2, .painel-3 {
    @include mixins.size(18rem, 24rem);
    border-radius: 5%;
    margin: 2em 2em;
    background-color: $verde_may;
}

.painel-1-embaixo, .painel-2-embaixo, .painel-3-embaixo {
    @include mixins.size(18rem, 24rem);
    border-radius: 5%;
    margin: 2em 2em;
    background-color: $verde_may;
}

.painel-2-embaixo, .painel-3-embaixo {
    width: 30rem;
}
.painel-2, .painel-3 {
    width: 30rem;
}

.paineis{
    color: $white;
}

.paineis2{
    color: $white;
}


#Titulo-painel-1, #Titulo-painel-2, #Titulo-painel-3{
    display: flex;
    justify-content: center;
}

.texto-painel-1, .texto-painel-2, .texto-painel-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17rem;
}

#Titulo-painel-1-embaixo, #Titulo-painel-2-embaixo, #Titulo-painel-3-embaixo{
    display: flex;
    justify-content: center;
}

.texto-painel-1-embaixo, .texto-painel-2-embaixo, .texto-painel-3-embaixo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17rem;
}

#p-painel1, #p-painel2, #p-painel3{
    margin-left: 0.7rem;
}


@media screen and (max-width: 1023px) {
    .paineis, .paineis2  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .painel-1, .painel-2, .painel-3 {
        background-color: $verde_may;
    }

    .painel-1-embaixo, .painel-2-embaixo, .painel-3-embaixo {
        background-color: $verde_may;
    }

}


@media screen and (max-width: 1023px) {
    .painel-1-embaixo, .painel-2-embaixo, .painel-3-embaixo {
    @include mixins.size(18rem, 24rem);
    border-radius: 5%;
    margin: 2em 2em;
    background-color: $cinza;
    }

    .painel-1, .painel-2, .painel-3 {
        background-color: $verde_may;
    }

    .painel-1-embaixo, .painel-2-embaixo, .painel-3-embaixo {
        background-color: $verde_may;
    }
}
@media screen and (max-width: 1023px) {
    .painel-1, .painel-2, .painel-3 {
    @include mixins.size(18rem, 24rem);
    border-radius: 5%;
    margin: 2em 2em;
    background-color: $cinza;
    }

    .painel-1, .painel-2, .painel-3 {
        background-color: $verde_may;
    }

    .painel-1-embaixo, .painel-2-embaixo, .painel-3-embaixo {
        background-color: $verde_may;
    }

    #Titulo-painel-3{
        margin-left: 1rem;
    }
}
